/* Version: 1.3.1 */
:root {
  --color-blue: #2bd1f7;
  --color-primary: #2750a7;
  --color-secondary: #ea2e19;
  --fonts-montserrat: 'Montserrat';
}

@font-face {font-family: 'Montserrat'; font-weight: 900; font-style: normal;
  src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black.ttf')  format('truetype'), url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
}

@font-face {font-family: 'Montserrat'; font-weight: 700; font-style: normal;
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf')  format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
}

@font-face {font-family: 'Montserrat'; font-weight: 800; font-style: normal;
  src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat-ExtraBold.ttf')  format('truetype'), url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
}

@font-face {font-family: 'Montserrat'; font-weight: 300; font-style: normal;
  src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-ExtraLight.woff') format('woff'), url('../fonts/Montserrat-ExtraLight.ttf')  format('truetype'), url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
}

@font-face {font-family: 'Montserrat'; font-weight: 200; font-style: normal;
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf')  format('truetype'), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
}

@font-face {font-family: 'Montserrat'; font-weight: 500; font-style: normal;
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf')  format('truetype'), url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
}

@font-face {font-family: 'Montserrat'; font-weight: 400; font-style: normal;
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf')  format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
}

@font-face {font-family: 'Montserrat'; font-weight: 600; font-style: normal;
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf')  format('truetype'), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
}

@font-face {font-family: 'Montserrat'; font-weight: 100; font-style: normal;
  src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Thin.woff') format('woff'), url('../fonts/Montserrat-Thin.ttf')  format('truetype'), url('../fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
}


html{scroll-behavior: smooth;}
body{font-size: 16px; font-family: 'Montserrat'; font-weight: 400;}

ul, li {list-style-type: none;}
p {line-height: 1.5; margin-bottom: 16px;}
a:hover {text-decoration: none;}

.entry-title {display: none;}
.align-center {margin: auto !important;}

/*--offcanvas-css--*/
#sidebar{opacity: 0;}
.sidebar-offcanvas-menu .sidebar-wrapper{position:relative; height: 100%; overflow: auto;}
#sidebar.sidebar-wrapperd-box{opacity: 1;}
.sidebar-offcanvas-menu .outer{height: 100%; background: #ffffff; overflow: auto; padding: 0 0 20px;}
.sidebar-offcanvas-menu .inner {padding: 10px;}
.sidebar-offcanvas-menu #sidebar{position: fixed; top: 0px; bottom: 0px; width: 300px; left: -300px;}
.sidebar-offcanvas-menu .sidebar-top-header:after{content:'';display:table; width: 100%;}
.sidebar-offcanvas-menu .sidebar-top-header {background-color: #ffffff; padding: 15px; border-bottom: rgba(177, 177, 177, 0.29) 1px solid;}
.sidebar-offcanvas-menu .sidebar-close-btn {text-align: right; float: right; padding:0;}
.sidebar-offcanvas-menu .sidebar-logo {float: left;}
.sidebar-offcanvas-menu .sidebar-logo img {max-width: 152px; margin: 0 auto;}
.sidebar-offcanvas-menu .sidebar-close-btn a {color: #343434; font-size: 30px; text-align: right; padding: 10px 0 0; cursor: pointer;}

.sidebar-offcanvas-menu ul.sidebar-menu, 
.sidebar-offcanvas-menu ul.sidebar-menu ul#menu-sidebar-menu-desktop{padding:0;margin:0;}
.sidebar-offcanvas-menu ul.sidebar-menu li {display: block; transition: all .3s ease-in; -webkit-transition: all .3s ease-in;}
.sidebar-offcanvas-menu ul.sidebar-menu li a {color: #000000;display: block; text-transform: uppercase; padding: 10px 15px; font-size: 13px;}
ul.sidebar-menu > li {border-bottom: #0000004f 1px dashed;}
.sidebar-offcanvas-menu .inner {padding: 0;}
ul.sidebar-menu > li.menu-item-has-children > a:after {content: "\f107"; font-family: 'FONT AWESOME 5 FREE'; position: absolute; right: 15px; font-size: 20px; line-height: 20px; font-weight: bold;}
ul.sidebar-menu > li a {position: relative;}
ul.sidebar-menu > li > ul {padding: 0; margin: 0; display: none;}
ul.sidebar-menu > li > ul > li a {text-transform: capitalize !important; padding-left: 35px !important; font-size: 14px !important;}
ul.sidebar-menu li.current-menu-item > a, 
ul.sidebar-menu li:hover > a {background-color: var(--color-primary);color: #FFF;}
.sidebar-offcanvas-menu ul.sidebar-menu li.menu-item-has-children {position:relative;}
/*--offcanvas-css-end--*/

/*--header-css--*/
header {position: sticky; top: 0; background: #fff; z-index: 9999;}
.mobile-menubtn {display: none; }
.btnmmenu {max-width: 37px; margin: 0px 0 0 auto; }
.btnmmenu span {width: 35px; height: 2px; background-color: #313131; display: block; margin: 6px 0;}

.main-navbarbox .row {display: flex; align-items: center; justify-content: center;}

.logo-boxin {padding: 5px 0; }
.logo-boxin a {display:block; max-width: 160px;}
.logo-boxin a img{width: auto; max-width: 100%;}
.desktop-menuboxin ul{margin-bottom: 0; padding-left: 0; text-align: right;}
.desktop-menuboxin ul li.menu-item-has-children ul {display: none; }
.desktop-menuboxin ul li {position: relative; display: inline-block; padding: 0; }
.desktop-menuboxin ul li a {display: block; padding: 10px 12px;font-size: 13px; color: #333; transition: all .3s ease; text-transform: uppercase; -webkit-transition: all .3s ease; font-weight: 500;}
.desktop-menuboxin ul.nav-menu > li:last-child a {background: #ea2e19; color: #fff; border-radius: 25px; font-weight: 600; padding: 10px 15px;}
.desktop-menuboxin ul li.menu-item-has-children ul{position: absolute; width: 250px; text-align: left;background-color: #fff;z-index: 9999;box-shadow: 0 0 5px #ccc;}
.desktop-menuboxin ul > li.menu-item-has-children > a::after{content:'\f078'; margin-left: 5px; font-family: "FONT AWESOME 5 FREE"; font-weight: bold;}

.desktop-menuboxin ul li.menu-item-has-children ul li{display: block; padding: 0;}
.desktop-menuboxin ul li.current-menu-item a,
.desktop-menuboxin ul li:hover > a{ color: #ea2e19;}
.desktop-menuboxin ul li:hover > ul{display: block;}
/*--end--*/

/* Hero Start */
.hero-section {min-height: 520px; width: 100%; background-position: center; background-size: cover; position: relative; z-index: 0; overflow: hidden;}
.hero-top-subheading h1 {font-size: 30px !important; font-family: 'Montserrat'; line-height: 32px; font-weight: 200; color: #fff;}
.hero-heading h1 {font-size: 48px !important; font-family: 'Montserrat'; line-height: 1.2; font-weight: 500; color: #fff; letter-spacing: -2px;}
.hero-botton-subheading p {font-size: 18px !important; line-height: 30px; font-family: 'Montserrat'; font-weight: 400; color: #fff;}

.hero-top-subheading,
.hero-heading,
.hero-botton-subheading {margin-bottom: 16px !important;}

.hero-btn{display: block; margin: auto;font-size: 16px; font-weight:500;border-radius: 50px;color: #fff;background-color: var(--color-secondary); width: max-content;padding: 12px 20px;}
.hero-btn.content-btn{margin: 0;}
.hero-btn:hover{color: #fff; background-color: #cf2a18;}
/* Hero End */


/* Content Section Start */
.home-content-section {padding: 90px 0;}
.home-content-section h2{font-size: 24px; font-family: 'Montserrat'; font-weight: 700; line-height: 1.4;}
.home-content-section p{font-size: 16px; font-family: var(--fonts-nunito); color: #000; line-height: 26px;}

.laptop-back {position: relative; width: 100%;}
.laptop-back > .video-wrapper {position: relative;}
.laptop-back > .video-wrapper > .video{border-left:1px; border-right: 1px; border-top: 0; border-bottom: 0; border-style: solid; border-color: white; position: absolute; left: 12%; top: 7%; width: 75.9%; height: 83%;}


.custom-list li {font-size: 16px; font-family: var(--fonts-nunito); color: #000; line-height: 26px; margin-bottom: 16px;}
.custom-list li::before {content: "\f058"; font-family: "FONT AWESOME 5 FREE"; margin-right: 12px; font-weight: bold; color: var(--color-primary);}

/* Content Section End */
.section-heading h2 {font-size: 24px; font-family: 'Montserrat'; font-weight: 700; line-height: 1.4;}
.needs-section {padding: 60px 0 0 0}
.needs-item .wpb_wrapper {display: flex; align-items: center;}
.needs-item a {font-size: 18px; color: #000; font-weight: 600;text-transform:capitalize;}
.courses-section {padding: 60px 0;}

/* 16-apr-2021 Start */
.custom-contact-form {display: flex; align-items: flex-start; justify-content: space-between; flex-wrap: wrap;}
.custom-contact-form .wpcf7-response-output {width: 100%;}
.custom-contact-form input[type="text"],
.custom-contact-form input[type="email"] {width: 100%;}
.custom-contact-form input[type="text"] {border: 0; background: 0;}

.input-outer {display: flex; align-items: center;}
.custom-contact-form .email-div {width: 40%;}

.custom-contact-form .input-outer{width: 40%;}
.custom-contact-form .input-outer,
.custom-contact-form input[type="email"] {height: 60px; padding: 8px 16px; border-radius: 10px; background-color: #fff; border: 1px solid #ddd;}

.custom-contact-form .input-outer {padding: 0 0 0 16px;}
.custom-contact-form .email-div p {margin-top: 12px;}

.custom-contact-form .pre-text {align-self: stretch; line-height: 60px; padding-right: 16px; padding-left: 16px; color: var(--color-primary); font-weight: bolder; border-left: 1px solid #ddd;}

.custom-contact-form input[type="submit"] {border: 0; background: 0; line-height: 60px; padding: 0 24px; background-color: var(--color-primary); border-radius: 10px; cursor: pointer; font-weight: bold; color: #fff; transition: 250ms;}
.custom-contact-form input[type="submit"]:hover {background-color: var(--color-secondary); color: #fff;}
.contact-form-section {background-color: #fafafa; padding: 65px 0 50px 0;}
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {padding: 16px;}
.second-content-section {padding: 60px 0 35px 0; background-color: #fafafa;}

.footer {padding: 50px 0 30px; background-image: url(images/logo.png); position: relative; z-index: 0; background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position: 100% -270%;}
.footer:after {content: ""; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: var(--color-primary); opacity: 0.9;z-index: -1;}

.footer-logo img{width: 100%; display: block;}
.footer-logo {display: block; max-width: 200px; background-color: #fff; padding: 12px; margin: 0 auto 24px auto; border-radius: 5px;}

#menu-footer-menu {padding: 0; margin: 0; display: flex; align-items: center; justify-content: center; flex-wrap:wrap;}
.footer-menu li {margin: 0 16px 0 0;}
.footer-menu li a {color: #fff; font-size: 14px; font-weight: 500;text-transform: uppercase;}
.footer-menu li::before{content:"-"; color:#fff; margin-right: 15px;}
.footer-menu li:first-child::before{display: none;}

.footer-bottom-social{display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; margin-top: 24px;}
.footer-bottom-social li a{color: #fff; margin: 0 15px; font-size: 28px; display: inline-block;}

.copyright{text-align: center; background-color: #173677;padding: 20px 15px;}
.copyright p{margin-bottom: 0; font-size: 16px; color: #fff;}

.hero-botton-subheading {line-height: 1.5;}
/* 16-apr-2021 End */

/* 17-apr-2021 Start */
.page-heading {margin-bottom: 0 !important;}
.page-heading h2 {color: #fff; caret-color: 'Montserrat'; font-weight: 500; margin-bottom: 0;}
.flex-heading > .wpb_wrapper {display: flex; align-items: center;}
.flex-heading > .wpb_wrapper img {width: 100%;}
.flex-heading h2 {margin-right: 16px;}

.solution-item img {max-width: 60px !important;}
.solution-item .vc_column-inner {text-align: center; padding-top: 35px; background-color: #fafafa; border-radius: 10px; overflow: hidden;}
.solution-item p {font-weight: 500;}
/* 17-apr-2021 End */

/* 19-apr-2021 Start */
.pricing-section {padding: 90px 0; background-color: #fff;}
.pricing-item > .vc_column-inner > .wpb_wrapper {background-color: #fafafa; padding: 32px 16px; border: 1px solid #ddd; border-radius: 10px; height: 100%;}
.price-package h1 {font-size: 24px; color: var(--color-primary); font-family: 'Montserrat'; font-weight: 600;}
.price-billing p {font-size: 12px; margin-bottom: 4px;}
.price-buy-btn {font-weight: bold;}
.pricing-feature-list p {font-size: 14px;}
.price-highlight {margin-bottom: 16px;}
.price-highlight p {font-size: 20px; font-weight: 500; color: var(--color-secondary);}
.price-highlight p strong {font-size: 30px;}

.wpb_content_element.price-highlight {margin-bottom: 16px;}
.horizontal-price-item > .vc_column-inner > .wpb_wrapper {background-color: #fafafa; padding: 32px; border: 1px solid #ddd; border-radius: 10px; height: 100%; display: grid; grid-template-columns: 1fr 2fr; align-items: center;}
.horizontal-price-item .wpb_content_element {margin-bottom: 0; }
/* 19-apr-2021 End */

/* 20-apr-2021 Start */
.pricing-item > .vc_column-inner > .wpb_wrapper,
.horizontal-price-item > .vc_column-inner > .wpb_wrapper {background-color: #2750a70d;}
.about-section {padding: 90px 0;}
.section-heading-big h2 {font-weight: bold; position: relative; z-index: 0; color: var(--color-primary);}
.section-heading-big h2::after {content: ""; position: absolute; left: 0; bottom: -15px; width: 90px; height: 3px;background-color: var(--color-primary);}
.section-heading-big.heading-center h2::after {left: 50%; transform: translateX(-50%); background-color: var(--color-secondary);}
.section-heading-big.heading-center h2 {color: #fff;}
.mission-section {padding: 90px 0 220px 0; background-position: center; background-size: cover; background-repeat: no-repeat; position: relative; z-index: 0;}
.mission-section::after {content: ""; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: var(--color-primary); opacity: 0.85;z-index: -1;}
.mission-section p {color: #fff; }
.mission-image {margin-top: -200px;}
.mission-image img {max-width: 700px !important; width: 100%;}

.contact-section{padding: 90px 0; background-color: #fafafa;}
.contact-item > .vc_column-inner  > .wpb_wrapper{background-color: #fff; height: 100%; padding: 32px 16px; margin-bottom: 30px; border: 1px solid #f4f4f4; border-radius: 5px;}
.contact-item .wpb_content_element{margin-bottom: 16px;}
.contact-item h4{color: #696969; font-size: 14px;}
.contact-item img{max-width: 60px !important;}
.contact-item p,
.contact-item a{color: var(--color-primary); font-size: 18px;}
.contact-section .section-heading-big.heading-center h2{color: var(--color-primary);}
/* 20-apr-2021 End */

/* 21-apr-2021 Start */
.url-suffix{padding-left: 16px; border:1px solid #ddd; font-size: 14px; padding: 9.5px;}
.domain-name-label input{border-radius: 5px 0 0 5px; border-right: 0;}

.signup-section{padding: 60px 0; background-color: #fafafa;}
.signup-image img{padding: 12px; border-radius: 5px; background-color: #fff; max-width: 200px !important;}

.signup-form{max-width:650px; width:100%; padding:48px; background-color: #fff; border-radius: 10px; box-shadow: 2px 2px 20px rgba(0,0,0,.05); margin:auto;}
.signup-form label{display: flex; align-items: center; justify-content: space-between; white-space: nowrap;}
.signup-form input{width: 100%; border: 1px solid #ddd; padding: 8px 16px; border-radius: 5px;}
.signup-form .label-text{margin-right:16px; width: 140px; font-size: 14px;}
.signup-form input[type="submit"]{margin-top: 16px; background-color: var(--color-secondary); color: #fff; cursor: pointer;}
.signup-form input[type="checkbox"]{width:auto;}
/* 28-apr-2021 End */

/* 3-may-2021 Start  */
.text-only-section{padding: 90px 0;}

.text-only-section p span,
.text-only-section li,
.text-only-section li p,
.text-only-section li span{font-size: 16px !important; line-height: 1.6;}

.text-only-section ul,
.text-only-section ul li {list-style-type: disc; margin-bottom: 12px;}

.text-only-section ul ul,
.text-only-section ul ul li {list-style-type: circle; } 
/* 3-may-2021 End  */


/* -- inner page css -- */
.page-template-main-template .site-content{overflow-x: hidden;}

.inner-hero-banner{padding: 60px 0 !important; background-position: center;}
.inner-hero-banner .inner-hero-heading{margin-bottom: 0;}
.inner-hero-banner .inner-hero-heading h2{color: #fff;}

.blended-sec-1 .blended-sec-tab {margin-bottom: 0;}
.blended-sec-1 .blended-sec-tab ul {display: flex; justify-content: space-between; background: #f5f5f5; padding: 10px 15px; text-align: center; }
.blended-sec-1 .blended-sec-tab ul li a {color: #2750a7; font-size:15px;font-weight: 500;}

.bg-grey{background-color: #f5f5f5}

.blended-sec-2{padding: 50px 0;}



/* -- Responsive Start -- */
@media (max-width: 1199px) {
  .desktop-menuboxin ul li a{padding: 10px 5px;}

  .custom-contact-form {flex-direction: column;}
  .custom-contact-form .input-outer,
  .custom-contact-form .email-div,
  .custom-contact-form > p {width: 100%; margin-bottom: 16px;}
  .custom-contact-form input[type="submit"] {width: 100%; max-width: 500px;display: block; margin: auto;}

  .footer-menu li{margin: 0 7px 0 0}
  .footer-menu li::before{margin-right: 7px;}
}

@media (max-width: 991px){
  /*--header-css--*/
  .desktop-menubox {display: none;}
  .mobile-menushow {display: block;}
  .mobile-menubtn {display: block;}
  .mobile-menubox div.btnbox {width: 40px; text-align: center; height: 33px; margin: 29px 0 0 auto; cursor: pointer;}
  .mobile-menubox div.btnbox span {display: block; width: 34px; height: 2px; background-color: #393939; margin: 6px auto; }
  /*--end--*/
}

@media(min-width:768px) and (max-width:991px){
  .contact-item p, 
  .contact-item a{font-size: 16px;}
}

@media (max-width: 767px){
  h1{font-size: 26px;}
  h2{font-size: 24px;}
  h3{font-size: 20px;}

  .hero-section{min-height: 320px;}
  .hero-heading h1{font-size: 24px !important}

  .needs-item .wpb_wrapper {justify-content: center;}
  .flex-heading > .wpb_wrapper{flex-direction: column;}

  .signup-form label{flex-wrap: wrap;}
  .signup-form input{margin-bottom: 12px;}
  .domain-name-label input{border-right:1px solid #ddd;}
  .signup-form .label-text{margin-bottom: 12px;}

  .footer-menu{flex-wrap:wrap;} 
  #menu-footer-menu{flex-direction: column;}
  .footer-menu li{margin: 0 0 7px;}
  .footer-menu li::before{display: none;}

  .blended-sec-1 .blended-sec-tab ul{display: block; padding: 0; background: #fff;}
  .blended-sec-1 .blended-sec-tab ul li {margin-bottom: 10px; background: #f5f5f5; padding: 5px; }
  .blended-sec-2{padding: 30px 0 0;}

}

@media(max-width:480px){
  .signup-form{box-shadow: none; padding: 16px; background: #fff;}

  .custom-contact-form .input-outer {flex-direction: column; background: 0 !important; border: 0 !important; padding: 0; height: auto;}
  .custom-contact-form input[type="text"] {height: 60px; padding: 8px 16px; border-radius: 10px; background-color: #fff; border: 1px solid #ddd;}
  .custom-contact-form .pre-text {border-left: 0;}
}

@media (max-width: 425px) {
  .needs-item .vc_single_image-img {width: 120px; height: 120px;}
  .needs-item .wpb_wrapper a {font-size: 14px;}
}
